.itemii{
    display: flex;
   justify-content: space-between;
}
@media only screen and (min-width:750px )  {
.hedooofhostle{
color: rgb(246, 241, 221);
 text-align: center; font-family: cursive; text-decoration: underline; margin-top: 34px;
}

.imgoluu{

    align-items: center;
    align-content: center;
    text-align: center;
}
.phoyu{
    height : 499px;
    width: 899px;
    border-bottom: 3px solid  rgb(246, 241, 221);
    border-left: 1px solid  rgb(246, 241, 221) ;
    border-right: 1px solid  rgb(246, 241, 221);
    border-radius: 9px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.paruu{
    color: rgb(246, 241, 221);
    margin-right: 5vw;
    margin-left: 5vw;
    width: 90vw;
    font-size: 19px;
     font-family: 'Baloo Bhai', sans-serif;
   
}
.itemii{
     color: rgb(246, 241, 221);
    margin-right: 5vw;
    margin-left: 5vw;
    width: 90vw;
    font-size: 19px;
    margin-top: 15px;
     font-weight: lighter;
}

.faqcontainer{
     color: rgb(246, 241, 221);
     font-size: 28px ;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin-left: 5vw;
     margin-top: 15px;
}}
@media only screen and (max-width:750px) and (min-width :450px ){
.hedooofhostle{
color: rgb(246, 241, 221);
 text-align: center; font-family: cursive; text-decoration: underline; margin-top: 34px;
 font-size: 15px;
}
.faqcontainer{
     color: rgb(246, 241, 221);
     font-size: 17px ;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-left: 9vw;
margin-top: 15px;
}

.imgoluu{

    align-items: center;
    align-content: center;
    text-align: center;
}
.phoyu{
    height : auto;
    width: 95vw;
    border-bottom: 3px solid  rgb(246, 241, 221);
    border-left: 1px solid  rgb(246, 241, 221) ;
    border-right: 1px solid  rgb(246, 241, 221);
    border-radius: 9px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.itemii{
     color: rgb(246, 241, 221);
    margin-right: 5vw;
    margin-left: 5vw;
    width: 90vw;
    font-size: 17px;
    margin-top: 15px;
     font-weight: lighter;
}
.paruu{
    color: rgb(246, 241, 221);
    margin-right: 2px;
    margin-left: 2px;
    font-size: 14px;
    text-align: center;
     font-family: 'Baloo Bhai', sans-serif;
     font-weight: 50;
}}
@media only screen and (max-width:450px) {
    .hedooofhostle{
color: rgb(246, 241, 221);
 text-align: center; font-family: cursive; text-decoration: underline; margin-top: 34px;
 font-size: 12px;
}
.faqcontainer{
     color: rgb(246, 241, 221);
     font-size: 15px ;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin-left: 14vw;
     margin-left: 9vw;
margin-top: 15px;
}

.imgoluu{

    align-items: center;
    align-content: center;
    text-align: center;
}
.phoyu{
    height : auto;
    width: 95vw;
    border-bottom: 3px solid  rgb(246, 241, 221);
    border-left: 1px solid  rgb(246, 241, 221) ;
    border-right: 1px solid  rgb(246, 241, 221);
    border-radius: 9px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.itemii{
     color: rgb(246, 241, 221);
    margin-right: 5vw;
    margin-left: 5vw;
    width: 90vw;
    font-size: 16px;
    margin-top: 15px;
     font-weight: lighter;
}
.paruu{
    color: rgb(246, 241, 221);
    margin-right: 2px;
    margin-left: 2px;
    font-size: 14px;
    text-align: center;
     font-family: 'Baloo Bhai', sans-serif;
     font-weight: normal;
}}
