body{
    background-color: #080314;
}
a{
  text-decoration: none;
  color: #E0E0E0;
}
.sidebar{
  z-index: 1;
    border-right: 0.25px solid #E0E0E0;
}
@media  only screen and (min-width : 750px){

.sidebar{
      background-color: #04020e;
      position: fixed; /* Fixes the div relative to the viewport */
  top: 0;          /* Aligns the div to the top */
  left: 0;         /* Fixes the div to the left side */
  width: 20vw;    /* Set your desired fixed width */
  height: 100vh;
  display: none;
  margin-top: 96px;
}
}
@media  only screen and (max-width : 750px){
 
.sidebar{
      position: fixed; /* Fixes the div relative to the viewport */
  top: 0;          /* Aligns the div to the top */
  left: 0;         /* Fixes the div to the left side */
  width: 198px;    /* Set your desired fixed width */
  height: 100vh;
  display: none;
  background-color: #04020e;
  margin-top: 82px;
}
}