@media  only screen and (min-width : 1060px){
    
    .intro{
        color: #fcf6e2;
        height: 79px;
        align-items: center;
        align-content: center;
        margin-top: 4px;
        text-align: center;
font-size: 28px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border-bottom: 1px solid #fcf6e2;
border-radius: 5px;
    }
    .items{
        height: 64px;
        color: #fcf6e2;
        border-bottom: 1px solid #fcf6e2;
        border-radius: 5px;
        align-items: center;
        align-content: center;
        text-align: center;
    }
}
@media  only screen and (max-width : 1060px){
       
    .intro{
        color: #fcf6e2;
        height: 50px;
        align-items: center;
        align-content: center;
        margin-top: 4px;
        text-align: center;
font-size: 0px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border-bottom: 1px solid #fcf6e2;
border-radius: 5px;
    }
    
    .items{
        height: 64px;
        color: #fcf6e2;
        border-bottom: 1px solid #fcf6e2;
        border-radius: 5px;
        align-items: center;
        align-content: center;
        text-align: center;
    }
}
@media  only screen and (max-width : 1060px){
    .introduction{
        margin-top: 15px;
    }
}
