@media  only screen and (min-width : 1060px){
    
    
   
    .items{
        height: 64px;
        color: #f9f8f7;
        border-bottom: 1px solid #fcf6e2;
        border-radius: 5px;
        align-items: center;
        align-content: center;
        display: flex;
        text-align: center;
        

    }
    .logos{
        height: 45px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
}
@media  only screen and (max-width : 1060px){
       
   
    
    .items{
        height: 64px;
        color: #faf9f8;
  border-bottom: 1px solid #fcf6e2;
        border-radius: 5px;
        align-items: center;
        align-content: center;
        text-align: center;
        display: flex;
    }
    .logos{
        height: 39px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
}
@media  only screen and (max-width : 1060px){
    .introduction{
        margin-top: 15px;
    }
}
